<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dice Roller</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='/roller_style.css') }}">
</head>
<body style="height: auto; background-repeat: no-repeat; background-image: linear-gradient(to top, white, blanchedalmond)">
    <!-- navbar -->
    <div class="navbar d-flex justify-content-evenly">
        <span class="fs-3">Welcome {{ user['first_name'] }}</span>    
        <a class="fs-5 btn btn-outline-secondary" href="/dashboard">Home</a>       
        <a class="fs-5 btn btn-outline-secondary" href="/view_campaigns">Campaigns</a>
        <a class="fs-5 btn btn-outline-secondary" href="/view_characters">Characters</a>
        <a class="fs-5 btn btn-outline-secondary" href="/info">Race Info</a>
        <a class="fs-7 btn btn-outline-danger" href="/logout">logout</a>
    </div>
    <div class="main justify-content-center d-flex">
        <div class="specificRoll">
            <p class="fs-3 text-center">Choose your Dice!</p>
            <div class="images gap-2 d-flex">
                <p class="text-center"><img id="20" class="dice" onclick="selectDie(20); makeDieBig(20)" src="/static/d20icon.png" alt="D20"> <br> D20</p>
                <p class="text-center"><img id="12" class="dice" onclick="selectDie(12); makeDieBig(12)" src="/static/d12icon.png" alt="D12"> <br>D12</p>
                <p class="text-center"><img id="10" class="dice" onclick="selectDie(10); makeDieBig(10)" src="/static/d10.png" alt="D10"> <br>D10</p>
                <p class="text-center"><img id="8" class="dice" onclick="selectDie(8); makeDieBig(8)" src="/static/d8icon.png" alt="D8"> <br>D8</p>
                <p class="text-center"><img id="6" class="dice" onclick="selectDie(6); makeDieBig(6)" src="/static/d6icon.png" alt="D6"> <br>D6</p>
                <p class="text-center"><img id="4" class="dice" onclick="selectDie(4); makeDieBig(4)" src="/static/d4icon.png" alt="D4"> <br>D4</p>
            </div>
            <p id="selectedDice"></p>
            <p class="fs-3 text-center">Choose How Many:</p>
            <select onchange="selectNum(value)" name="dieNum" id="dieNum">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <p class="fs-3 text-center">Type of Roll:</p>
            <select name="rolltype" onchange="selectRoll(value)" id="rolltype">
                <option value="none" selected disabled hidden>Please Select a Roll Type</option>
                <option value="Advantage">Advantage</option>
                <option value="Normal">Normal</option>
                <option value="Disadvantage">Disadvantage</option>
            </select>
            <p class="fs-4 text-center" id="selected"></p>
            <p class="fs-4 text-center" id="amount"></p>
            <p class="fs-4 text-center" id="type"></p>
            <p style="height: 100px; width: 450px;" class="overflow-auto fs-3 ms-5 text-center" id="rolls"></p>
            <p class="fs-3 text-center" id="results"></p>
            <p class="fs-4 rollbtn fw-bold text-center" onclick="rollDice(); resetDice()">ROLL!</p>
        </div>
    </div>
    <script src="{{ url_for('static', filename='/roller_script.js') }}"></script>

</body>

</html>