<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Character</title>
    <!-- CSS only -->
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body style="height: auto; background-repeat: no-repeat; background-image: linear-gradient(to top, white, blanchedalmond)">
    <!-- navbar -->
    <div class="navbar d-flex justify-content-evenly">
        <span class="fs-3">Welcome {{ user['first_name'] }}</span> 
        <a class="fs-5 btn btn-outline-secondary" href="/dashboard">Home</a>          
        <a class="fs-5 btn btn-outline-secondary" href="/view_campaigns">Campaigns</a>
        <a class="fs-5 btn btn-outline-secondary" href="/view_characters">Characters</a>
        <a class="fs-5 btn btn-outline-secondary" href="/dice_roll">Dice Roller</a>
        <a class="fs-5 btn btn-outline-secondary" href="/info">Race Info</a>
        <a class="fs-7 btn btn-outline-danger" href="/logout">logout</a>
    </div>
    <p class="fs-3 text-center text-decoration-underline mt-3">Character</p>
    <p class="fs-2 fst-italic text-center">{{rechar['name']}}</p>
<div class="main justify-content-evenly d-flex"> 
   
    <div class="ms-5 col1">
        <form action="/reuse_char/{{rechar.id}}" method="post" class="">
    <!-- open notes box to allow for notes edit -->
        <label for="char_notes" class="text-center fs-4 form-label">Character Notes:</label> <br>
        <textarea name="notes" id="char_notes" cols="60" rows="20">{{session['notes']}}</textarea>
    </div>
    <div class="roller" style="margin-top: 100px;">
        <p class="fs-6 text-center">Roll for a Stat Value:</p>
        <p class="fs-6 text-center">Rolls: <br> <span id="statRoll"></span> </p>
        <p class="text-center fs-6">Your stat Value is: <span id="statVal"></span> </p>
        <p class="fs-6 text-center">Enter into a stat and roll again.</p>
        <p class="text-center fw-bold border border-dark fs-5" style="border-radius: 15px; cursor: pointer; color:red;" onclick="rollstat()">ROLL!</p>
    </div>
    <div class="border-dark statsbox" style="border-radius:25px; width: 350px;">
        <p class="fs-4 mb-3 text-center">Character Stats:</p>
        <ul style="border-top: 3px solid black; border-bottom: 3px solid black; border-radius: 25px;">
            <li class="d-flex fst-italic justify-content-between fs-5">Class:  <span class="me-5 fst-normal fw-normal fs-4">{{rechar['char_class']}}</span></li>
            <li class="d-flex fst-italic justify-content-between fs-5">Race: <span class="me-5 fst-normal fw-normal fs-4">{{rechar['race']}}</span></li>
            <input type="hidden" name="user_id" value="{{user['id']}}">
            <input type="hidden" name="name" value="{{rechar.name}}">
            <input type="hidden" name="char_class" value="{{rechar.char_class}}">
            <input type="hidden" name="race" value="race">
            {% with messages = get_flashed_messages(category_filter=['err.race']) %}
            {% if messages %}
                {% for message in messages %}
                    <p style="color: red;">{{ message }}</p>
                {% endfor %}
            {% endif %}
            {% endwith %}
            <label for="strength" class="form-label">Strength:</label>
            <input type="text" class="form-control" value="{{session['strength']}}" name="strength" id="strength">
            {% with messages = get_flashed_messages(category_filter=['err.str']) %}
            {% if messages %}
                {% for message in messages %}
                    <p style="color: red;">{{ message }}</p>
                {% endfor %}
            {% endif %}
            {% endwith %}
            <label for="constitution" class="form-label">Constitution:</label>
            <input type="text" class="form-control" value="{{session['constitution']}}"  name="constitution" id="constitution">
            {% with messages = get_flashed_messages(category_filter=['err.const']) %}
            {% if messages %}
                {% for message in messages %}
                    <p style="color: red;">{{ message }}</p>
                {% endfor %}
            {% endif %}
            {% endwith %}
            <label for="dexterity" class="form-label">Dexterity:</label>
            <input type="text" class="form-control" value="{{session['dexterity']}}"  name="dexterity" id="dexterity">
            {% with messages = get_flashed_messages(category_filter=['err.dex']) %}
            {% if messages %}
                {% for message in messages %}
                    <p style="color: red;">{{ message }}</p>
                {% endfor %}
            {% endif %}
            {% endwith %}
            <label for="intelligence" class="form-label">Intelligence:</label>
            <input type="text" class="form-control" value="{{session['intelligence']}}"  name="intelligence" id="intelligence">
            {% with messages = get_flashed_messages(category_filter=['err.int']) %}
            {% if messages %}
                {% for message in messages %}
                    <p style="color: red;">{{ message }}</p>
                {% endfor %}
            {% endif %}
            {% endwith %}
            <label for="wisdom" class="form-label">Wisdom:</label>
            <input type="text" class="form-control" value="{{session['wisdom']}}"  name="wisdom" id="wisdom">
            {% with messages = get_flashed_messages(category_filter=['err.wis']) %}
            {% if messages %}
                {% for message in messages %}
                    <p style="color: red;">{{ message }}</p>
                {% endfor %}
            {% endif %}
            {% endwith %}
            <label for="charisma" class="form-label">Charisma:</label>
            <input type="text" class="form-control" value="{{session['charisma']}}"  name="charisma" id="charisma">
            {% with messages = get_flashed_messages(category_filter=['err.char']) %}
            {% if messages %}
                {% for message in messages %}
                    <p style="color: red;">{{ message }}</p>
                {% endfor %}
            {% endif %}
            {% endwith %}
            <button type="submit" class="mt-2 mb-3 btn btn-success">Create</button>
        </ul>
    </form>
    </div>

</div>
<script src="{{ url_for('static', filename='/reuse_script.js') }}"></script>
</body>
</html>