<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body style="height: auto; background-repeat: no-repeat; background-image: linear-gradient(to top, white, blanchedalmond)">
    <!-- navbar -->
    <div class="navbar d-flex justify-content-evenly">
        <span class="fs-3">Welcome {{ user['first_name'] }}</span> 
        <a class="fs-5 btn btn-outline-secondary" href="/dashboard">Home</a>          
        <a class="fs-5 btn btn-outline-secondary" href="/view_campaigns">Campaigns</a>
        <a class="fs-5 btn btn-outline-secondary" href="/view_characters">Characters</a>
        <a class="fs-5 btn btn-outline-secondary" href="/dice_roll">Dice Roller</a>
        <a class="fs-5 btn btn-outline-secondary" href="/info">Race Info</a>
        <a class="fs-7 btn btn-outline-danger" href="/logout">logout</a>
    </div>
    <div class="nav2 d-flex justify-content-evenly">
        <a href="/new_char" class="fs-6">Create New Character</a>
    </div>
    <!-- this will show a table with all the characters -->
    <div class="charlist overflow-auto" style="height:250px;" >
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Class</th>
                    <th>Race</th>
                    <th></th>
                </tr>
            </thead>
            {% if not characters: %}
                <tr>
                    <td>You have no saved characters.</td>
                </tr>
            {% else %}
                {% for one in characters: %}
                    <tr>
                        <td>{{one.name}}</td>
                        <td>{{one.race}}</td>
                        <td>{{one.char_class}}</td>  
                        <td><a href="/edit/character/{{one.id}}">edit character notes</a></td> 
                        <td><a href="/delete/character/{{one.id}}">delete character</a></td>                  
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
    <div class="footer d-flex justify-content-evenly" >
        <img src="/static/characters.png" alt="character banner">
    </div>
</body>
</html>